body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #f0f0f0; /* Apenas para visualização */
}

.container {
    width: 90%;
    max-width: 700px; /* Limita a largura máxima do container */
    margin: 0 auto;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    box-sizing: border-box;
    background-color: #fff; /* Apenas para visualização */
    border-radius: 8px; /* Opcional, para estilizar */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Opcional, para adicionar uma sombra */
}

.iframe {
    background-color: black;
    width: 100%;
    height: 400px; /* Ajuste a altura conforme necessário */
    max-width: 600px; /* Define um máximo para a largura */
    margin: 20px 0; /* Espaçamento vertical */
}

.create {
    display: none;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    background-color: #fff;
    width: 100%;
    max-width: 500px;
    height: 300px;
    z-index: 20000;
    padding: 20px;
    box-sizing: border-box;
    border-radius: 8px; /* Opcional, para estilizar */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Opcional, para adicionar uma sombra */
}

.show {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.addone, .max {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    border: none;
    cursor: pointer;
}

.addone {
    background-color: #007bff; /* Cor do botão adicionar */
    color: #fff;
}

.max {
    background-color: blue;
    color: #fff;
}

.close {
    position: absolute;
    right: 10px;
    top: 10px;
    height: 40px;
    width: 40px;
    border-radius: 50%;
    border: none;
    background-color: red;
    color: #fff;
    cursor: pointer;
}

.box {
    width: 100%;
    max-width: 200px;
    height: 60px;
    background-color: aquamarine;
    border-radius: 10px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px 20px;
    margin-top: 10px;
}

.del, .view {
    border-radius: 50%;
    border: none;
    cursor: pointer;
}

.del {
    width: 30px;
    height: 30px;
    background-color: red;
    color: #fff;
}

.view {
    background-color: darkslateblue;
    color: #fff;
}

.divinside {
    display: flex;
    gap: 5px;
}

.orga {
    display: flex;
    gap: 10px;
    flex-wrap: wrap; /* Permite que as divs dentro da orga se movam para a linha seguinte se necessário */
    justify-content: center; /* Centraliza o conteúdo da orga */
    width: 100%;
    overflow-x: auto;
}
